*{
    margin: 0;                                                                            
    padding: 0;
}

:root{
    --font-nav-:'Galdeano', sans-serif;                                                 /*Main root*/
}






#nav1{
    background-color: #ffff;
    height:100px;
}
#logo1{                                                                     /*navbar logo(farm) */
    height:80px;
    width: 91px;
}
#l1{
    font-family: var(--font-nav-);                                         /*navbar links */   
    font-size:25px;                                                                                               
    background-color: #ffff;                                                                                    /*Navbar full*/
    
    
}
#li:hover{
    background-color: rgb(102, 253, 71);                                                       /*Hover navbar*/
}
.icon-bar{
    background-color: #ffff;
    color:black;                                                      /*=Mobile viepad icon*/
}
.icon-bar:hover{
    background-color: #ffff;
    color:black;
}













.rooti{
    position: relative;
    margin: 0;
    padding: 0;
}



.main{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height:auto;
    
}
.main-front{
    margin: 0;
    padding: 0;
    margin-top: 101px;
    background-color: white;
}

.boxone{

    background-color: #84BE56;
    height:650px;
    
}
.row{
    margin-top: 101px;
}




.boxtwo{ 
    display: flex;
    flex-direction: column;  
    background-color: white;
    height:650px;
    
    
}
.imagemain{
    height:400px;
    width: 500px;
}


.blockquote-reverse{
    
    font-family: 'Gwendolyn', cursive;
    font-size: 23px;
}
#anch{
    margin-top: 5%;
    margin-left: 1%;
    color:black;
}







.midhead{
    font-family: 'M PLUS 1 Code', sans-serif;
    margin-top: 12%;
}

.r1{
    height:630px;
    width:100%;
}
.rx{
    height:630px;
    width:100%;
}

.sec2h1{
    font-size: 40px;
    font-family: 'M PLUS 1 Code', sans-serif;
    margin-left: 10%;
}
.sec2h2{
    font-size: 15px;
    margin-top: 5%;
    font-family: 'M PLUS 1 Code', sans-serif;
    margin-left: 10%;
}
.sec2h3{
    font-size: 15px;
    display: block;
    font-family: 'M PLUS 1 Code', sans-serif;
    margin-left: 10%;
}
.sec2h4{
    display: block;
    font-family: 'M PLUS 1 Code', sans-serif;
    margin-left: 10%;
}
.img2{
    border-radius: 12px;
    height:500px;
    width:400px;  
    margin-left: 20%;  
}

.imga1{
    margin-top: 2%;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin-left: 20%;
    
}
.imga2{
    margin-top: 2%;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin-left: 20%;
    
}

.glyphicon{
    margin-top: 5%;
    margin-left: 35%;
}




.r1{
    margin-top:101px;
    height:650px; 
}


.r2{
    height: 300px;
    
}
#a1{
    font-size: 130px;
    
}
#a1[data-scroll]{
    transition:  2s;
}
#a1[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}
#a1[data-scroll="out"]{
    opacity: 0;
    transform: translateY(150px);
}
#a2[data-scroll]{
    transition:  2s;
}
#a2[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}
#a2[data-scroll="out"]{
    opacity: 0;
    transform: translateY(200px);
}
#a3{
    margin-top: 5%;
}
#a3[data-scroll]{
    transition:  2s;
}
#a3[data-scroll="in"]{
    opacity: 1;
    transform: translateX(0);
}
#a3[data-scroll="out"]{
    opacity: 0;
    transform: translateX(100px);
}






.r3{
    height: 250px;
    border-radius: 10px;
}


.base2{
    background-color: #EC82B6;
    height:100%;
    width:70%;
}









.base3{
    background-color: #B65FCF;
    height:100%;
    width:70%;
}
.r5{
    margin: 0;
    padding: 0;
    height:500px;
}




#socialnav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: #ffffff;
    border: none;
    height: 30px;
}
#socl{
    float: right;
}
#socailicon{                                                        /*    Social Media Icons embedded on nav  */
    font-size: 50px;
}
#ic1{
    color: #C0C0C0;
}
#ic1:hover{
    background-color: transparent;
    color: #1A1A1D;
}
#hid{
    display: none;
}
#face3{
    height: 100px;
    background-color: #9dda6c;
}
#face5{
    display: flex;
    align-items: center;
    justify-content: center;
    height:45px;
    background-color: #84BE56;
    position: relative;
    margin: 0;
    padding: 0;
    font-family:var(--navlink-font);
    word-spacing: 2px;
    border-top: 1px solid black;
    
}
#copytags{
    color:#1A1A1D;
}
.earth{
    font-family: 'M PLUS 1 Code', sans-serif;
}
#e1[data-scroll]{
    transition:  2s;
}
#e1[data-scroll="in"]{
    opacity: 1;
    transform: translateX(0);
}
#e1[data-scroll="out"]{
    opacity: 0;
    transform: translateX(-100px);
}
#bq{
    margin-top: 45px;
}

#panel{
    width:400px;
    height:400px;
    margin-top: 10%;
    transition:2s;
}
#panel:hover{
    box-shadow: 5px 0px 40px rgba(148, 148, 148, 0);
}

.login{
    font-family: 'M PLUS 1 Code', sans-serif;
}
#inputss{
    box-shadow: none;
} 
#inputss:focus{
    border:1px solid #84BE56;
 }


.ione{
    margin-top: 12%;
}
.itwo{
    margin-top: 4%;
}
.btn-success{
    margin-top: 6%;
    margin-left: 82%;
}




@media only screen and (max-width: 800px) {
    .rx{
        height:930px;
        width:100%;
    }
    .boxone{
        background-color: #84BE56;
        height:100px;
        border-top: 100px solid #84BE56;
        border-right: 30px solid #84BE56;
    }

    .imagemain{
        height:250px;
        width: 300px;
    }


    #btnone{
        width: 100px;
        height: 55px;
        background-color: black;
        margin-left: 10%;
    }

    .midhead{
        font-family: 'M PLUS 1 Code', sans-serif;
        margin-top: 0%;
    }
    .r2{
        height: 650px;
        border-radius: 10px;
    }
    .r3{
        height: 630px;
        border-radius: 10px;
    }
    .r1{
        height:1000px;
    
    }
    .img2{
        border-radius: 12px;
        height:400px;
        width:300px;    
    }
    .sec2h3{
        display: none;
    }

    .base2{
        background-color: #EC82B6;
        height:5%;
        width:100%;
    }
    .base3{
        background-color: #B65FCF;
        height:5%;
        width:100%;
    }
    .r5{
        margin: 0;
        padding: 0;
        height:850px;
    }
    #a3[data-scroll]{
        transition:  2s;
    }
    #a3[data-scroll="in"]{
        opacity: 1;
        transform: translateX(-45px);
    }
    #a3[data-scroll="out"]{
        opacity: 0;
        transform: translateX(100px);
    }
}


@media only screen and (min-width:801px) and ( max-width: 1045px){
    #a3[data-scroll]{
        transition:  2s;
    }
    #a3[data-scroll="in"]{
        opacity: 1;
        transform: translateX(-90px);
    }
    #a3[data-scroll="out"]{
        opacity: 0;
        transform: translateX(100px);
    }
    .boxone{
        background-color: #84BE56;
        height:800px;
        border-top: 100px solid #84BE56;
        border-right: 30px solid #84BE56;
    }

    .imagemain{
        height:250px;
        width: 300px;
    }

    .base2{
        background-color: #EC82B6;
        height:5%;
        width:100%;
    }
    .base3{
        background-color: #B65FCF;
        height:5%;
        width:100%;
    }
    .r2{
        height: 350px;
        border-radius: 10px;
    }
    .r3{
        height: 350px;
        border-radius: 10px;
    }
    .r1{
        height:1300px;
    
    }
    .rx{
        height: 700px;
    }
    .r5{
        margin: 0;
        padding: 0;
        height:900px;
    }
    .imga1{
        margin-top: 1%;
        width: 220px;
        height: 220px;
        border-radius: 10px;
        margin-left: 20%;
        
    }
    .imga2{
        margin-top: 1%;
        width: 220px;
        height: 220px;
        border-radius: 10px;
        margin-left: 20%;
        
    }
}

@media only screen and (min-width:1046px) and ( max-width: 1499px){
    #a3[data-scroll]{
        transition:  2s;
    }
    #a3[data-scroll="in"]{
        opacity: 1;
        transform: translateX(-90px);
    }
    #a3[data-scroll="out"]{
        opacity: 0;
        transform: translateX(100px);
    }
    .r5{
        margin: 0;
        padding: 0;
        height:500px;
    }
    .r1{
        height:900px;
    
    }
    .r2{
        height: 250px;
        border-radius: 10px;
    }
    .r3{
        height: 250px;
        border-radius: 10px;
    }
    #panel{
        width:320px;
        height:320px;
        margin-top: 10%;
        transition:2s;
    }
    .btn-success{
        margin-top: 6%;
        margin-left: 78%;
    }
}
 @media only screen and ( max-width: 954px){
    #panel{
        width:320px;
        height:320px;
        margin-top: 10%;
        transition:2s;
    }
    .btn-success{
        margin-top: 6%;
        margin-left: 78%;
    }
 }
@media only screen and (min-width:992px) and ( max-width: 1500px){
    #panel{
        width:320px;
        height:320px;
        margin-top: 10%;
        transition:2s;
    }
    .btn-success{
        margin-top: 6%;
        margin-left: 78%;
    }
}












