#pn22{
    margin-top: 105px;
    height:700px;
}
#pn23{
    margin-top: 2%;
    height:600px;
    overflow: scroll;
    scrollbar-width: none; 
}
.pred{
    font-family: 'M PLUS 1 Code', sans-serif;
}
.pred3{
    color: rgb(24, 196, 24);
}
.pred4{
    color: red;
}
#pn23::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    #pn22{
        margin-top: 105px;
        height:702px;
    }
  }